# Visual Studio User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Build results
[Dd]ebug/
[Rr]elease/
x64/
[Ww]in32/
[Ii]ntermediate/

# Visual Studio 2015/2017 cache/options directory
.vs/

# IAR Compiler
*.dep
[Ss]ettings/

# System Files
.DS_Store
Thumbs.db

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
